img {
  width: 5em;
  height: 5em;
  float: left;
}

.note {
  padding: 2em;
  border: solid;
  border-radius: 2em;
  display: flex;
  overflow: clip;
}

.emojis {
  display: flex;
  align-items: center;
  gap: 5px;
  div {
    display: flex;
    align-items: center;
  }
  img {
    width: 20px;
    height: 20px;
  }
  span {
    margin-right: 5px;
  }
}

.notetext {
  margin-left: 2em;
}