@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f4d7ee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  list-style-type: none;
}

a {
  color: #d204dd;
}

a:hover {
  color: #ff00d0;
  text-decoration: underline;
}

button {
  border-radius: 9999px;
}

textarea,
input {
  border-radius: 1em;
}

input,
button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  outline: none;
}

button:hover {
  border-color: #ff83dd;
}

button:active {
  background-color: #e8e8e8;
}

body {
  --sb-track-color: #63375c;
  --sb-thumb-color: #ff83dd;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
